registry=https://nexus.nas-1.sh.net.pe/repository/npm-proxy/
strict-ssl=false
always-auth=true

# Scoped packages configuration
@types:registry=https://nexus.nas-1.sh.net.pe/repository/npm-proxy/
@angular:registry=https://nexus.nas-1.sh.net.pe/repository/npm-proxy/
@nestjs:registry=https://nexus.nas-1.sh.net.pe/repository/npm-proxy/